<!html>
<head>
  <title>Is Someone At Werkstatt</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="icon" type="image/png" href="images/favicon_<%= @ticktock %>.png" />
  <link rel="apple-touch-icon" href="images/touch-icon-blue.png" />
  <link rel="apple-touch-startup-image" href="images/startup.png" media="screen" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
  <div id="container">
    <div id="banner"><%= @message %></div>
    <div class="center">
      <img src="images/<%= @ticktock %>.png" alt="<%= @message %>">
      <div id="controls">
        <a href="/come" class="button bg-green">
          I'm here now.
        </a>
        <a href="/go" class="button bg-red">
          I'm going home.
        </a>
      </div>
    </div>
  </div>
</body>
