<!html>
<head>
  <title>Is Someone At Werkstatt</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="center">
    <img src="images/<%= @ticktock %>.jpg">
  </div>
</body>
