<!html>
<head>
  <title>Is Someone At Werkstatt</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="center">
    <img src="images/<%= @ticktock %>.jpg">
    <div id="controls">
      <div class="button bg-green">
        <a href="/come">I'm here now.</a>
      </div>
      <div class="button bg-red">
        <a href="/go">I'm going home.</a>
      </div>
    </div>
  </div>
</body>
