<!html>
<head>
  <title>Is Someone At Werkstatt</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="banner"><%= @message %></div>
  <div class="center">
    <img src="images/<%= @ticktock %>.jpg" alt="<%= @message %>">
    <div id="controls">
      <a href="/come" class="button bg-green">
        I'm here now.
      </a>
      <a href="/go" class="button bg-red">
        I'm going home.
      </a>
    </div>
  </div>
</body>
